# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [6]:
x=3
print(type(x))

<class 'int'>

##### Assinging float - Float types are decimals

In [7]:
y=3.15
print(type(y))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition (+)

In [3]:
num1 = input('Enter number')
num2 = input('Enter number')
addition = int(num1) + int(num2)
print(addition)

4

##### Subtraction (-)

In [4]:
y = 'rahel'
x =  y +  str(1)
print(x)

rahel1

##### Multiplication (*)

In [5]:
num1 = input('Enter number')
num2 = input('Enter number')
multiplication = int(num1) * int(num2)
print(multiplication)

15

##### Division (/)

In [9]:
num1 = input('Enter number')
num2 = input('Enter number')
division = int(num1) / int(num2)
print(division)

7.857142857142857

##### Floor Division (//) - Normal division but returns the largest possible integer

In [11]:
num1 = input('Enter number')
num2 = input('Enter number')
floor_division = int(num1) // int(num2)
print(floor_division)

7

##### Modulo (%) - Returns the remainder of division

In [12]:
num1 = input('Enter number')
num2 = input('Enter number')
modulo = int(num1) % int(num2)
print(modulo)

5

##### Exponential (**)

In [13]:
num1 = input('Enter number')
num2 = input('Enter number')
exponential = int(num1) ** int(num2)
print(exponential)

27

### String Input-Output

##### String Assignment

In [15]:
day = input('what\'s the day')

print('today is',day)

today is friday

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

In [20]:
f_name = input('what\'s your first name')
l_name = input('what\'s your last name')

#full_name = f_name + ' '+l_name
#print('your name is ',full_name)


#print('your name is ', f_name, l_name)

your name is  rahel wonde

##### Type Conversion

In [22]:
data = '123'
print(type(data))
data= int(data)
print(type(data))

<class 'str'>
<class 'int'>

##### input()

In [23]:
input = input('type something')

print('you type in input section',input)

you type in input section what if. i don't

##### format()

In [30]:
name = 'rahel' #input('what\'s your  name')
pleace = 'SF'#nput('where do you live')



print(f'hi {name},how is living {pleace}')

hi rahel,how is living SF

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
color =  input('what is your color car?')
year =  input('what is your year car?')
model =  input('what is your model car?')

car =  f'you  have {color} color {year} year {model} model car'.format()
print(car)

you  have black color 2023 year tesla Y model car

### If Statements

In [5]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)
year = input('what year is it')
if year == '2024':
    print('happy new year')

else:
    print('old year')

old year

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [7]:
name = 'rahel'
my_name = name
if  my_name is name:
    print(my_name)

else:
    print('how is this')

rahel

##### 'in' keyword = used to check if a value is present in a sequence

In [9]:
name = 'rahel'

if 'h' in name:
    print(name)

else:
    print('how is this')

rahel

##### 'not in' keyword'

In [12]:
name = 'rael'

if 'h' in name:
    print(name)

elif 'h' not in name:
    print('who is this?')

who is this ?

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [14]:
print('am check p in your name')

name = input('what\'s your name')

if 'p' in name:
    print('i found \'p\' in your name', name)

else:
    print('no \'p\' in your name')

am check p in your name
i found 'p' in your name rapel

## Using 'and'/'or' with If Statements

In [23]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

#front_end = 'html,css,react,'
#back_end = 'phyton,java'
c_languge = input('what c_languge did you take')
c_languge = input('what c_languge did you take')


if c_languge== 'phyton ' and c_languge== 'java ':
       
    print('back_end')
elif c_languge  == 'html' or c_languge == 'react':
     print('front_end ')

### Elif Statements

In [25]:
eat = input('did you eat')

if eat == 'yes':
   print('am full')
elif eat ==  'no':
   print('am hungry')

am full

### Else Statements

In [29]:
# see above
eat = input('did you eat')

if eat == 'yes':
   print('am full')
elif eat ==  'no':
   print('am hungry')
else:
   print('i want  something to eat snack ')

i want  something to eat snack

### For Loops

In [41]:

day = input('what is the day today')

for t_day in day:
    if day == 'thursday':
        print('my_fav_day')
        break
    elif day == 'monday':
        print('ewwwwww  day ')
        break
    else:
        print(day) 
        break

ewwwwww  day

##### Continue Statement

In [49]:
# will continue to next iteration
name = input('what is your name')

for f_name in name:
    print(f_name)
    continue
if 'a' in name:
     print('your m_name assefa')    
#name = input('what\'s your name?')
#print('byy')

#if 'h' in  name:
    #print('ghjklkmnbvf')

r
a
h
e
l
your m_name assefa

##### Break Statement

In [53]:
# will break out of current loop
name = name = input("what's your name") 

for my in name:
    
    if my == 'a':
       print('i found\'a\' in my name')  
       break  
    print(my)

r
i found'a' in my name

##### Pass Statement

In [52]:
# mostly used as a placeholder, and will continue on same iteration
name = name = input("what's your name") 

for my in name:
    
    if my == 'a':
       print('i found\'a\' in my name')  
       pass   
    print(my)

r
i found'a' in my name
a
h
e
l

##### Double For Loops

In [58]:
month = range(1, 5)
for week in month:
    print('welcome to week',week)
    week_d = range(1, 8)
    for day in week_d:
        print('day',day)

welcome to week 1
day 1
day 2
day 3
day 4
day 5
day 6
day 7
welcome to week 2
day 1
day 2
day 3
day 4
day 5
day 6
day 7
welcome to week 3
day 1
day 2
day 3
day 4
day 5
day 6
day 7
welcome to week 4
day 1
day 2
day 3
day 4
day 5
day 6
day 7

### While Loops

In [5]:
age = input('your age')
age = int(age)
while  age <  20:
    print('you are teenage')
    age += 20
print('you are adult')

you are adult

##### Looping 'While True'

In [1]:
while True:
    password= input('what is your password')
    if password == 'friday':
       print('wellcome   to today')
     
       break
       
    else:
        print('wrong password try again')
        break

wrong password try again

##### While & For Loops Used Together

In [11]:

while True:
    quation = input('wellcome to thives-139, wright your first two intial')
    if quation == 'd':
        for answer in quation:
          print('you are instructer dylan')
        break
    elif quation == 'c':
        for answer in quation:
          print('you are instructer christian')
        break
    else:
        print('you are student')
        break

you are student

### Built-In Functions

##### range()

In [12]:
name = range(1,5)
for lat in name:
    print(lat)


for passw in range(9, 19):
    print(passw)

1
2
3
4
9
10
11
12
13
14
15
16
17
18

##### len()

In [12]:
name = 'rahel'
print(len(name))

5

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [16]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance() - checks if the object is the type

In [22]:
num = 123
print(isinstance(num,str))

if isinstance(num,int):
    print('we  can do math')
else:
     print('we  can\'t do math')

False
we  can do math

##### abs() - returns the absolute value

In [23]:
num = -123
print(abs(num))

123

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [26]:
try: 
    DOB = int(input('year of birth'))
    DOB -=1
    print('your mom  was  month pregnant in',DOB)
except:
    print('Enter DOB  month numerical')

your mom  was  month pregnant in 1998

### Lists

##### Declaring Lists

In [ ]:
day = ['monday', 'thuesday', 'wednsday']

##### Indexing a List

In [15]:
num = ['1','2','6','67']
print(num[1])

2

##### .append()

In [29]:
num = ['1','2','6','67']
num1= num.append('1')

print(num)

['1', '2', '6', '67', '1']

##### .insert()

In [32]:
#print(num)
num = ['1','2','6','67']
num1= num.insert(2,'1')

print(num)

['1', '2', '1', '6', '67']

##### .pop()

In [33]:
num = ['1','2','6','67']

num2 = num.pop()
print(num2)
print(num)

67
['1', '2', '6']


##### .remove() - removes element in a list, does not remove duplicates

In [38]:
num = ['1','2','6','67']
num.remove('6')
print(num)

['1', '2', '67']

##### del()

In [40]:
num = ['1','2','6','67']

del  num[1]
print(num)

['1', '6', '67']

##### Concatenating Two Lists

In [44]:
num = ['1','2','6','67']
num1 = ['5','4','8','7']

num2 = num +num1
print(num2)

['1', '2', '6', '67', '5', '4', '8', '7']

##### Lists Within Lists

In [48]:
#n= range(1, 100)
num = ['1','2','6','67']
num1 = ['5','4','8','7']
num.append(num1)

print(num)

['1', '2', '6', '67', ['5', '4', '8', '7']]

##### Looping Through Lists

In [ ]:
city = ['new york', 'san francisco', 'washington']

for  my_fav_city in city:
    print(my_fav_city )

In [ ]:
a = int(input("how old are you"))
b =int(input("how old are you"))
age =  a  + b +2

print("you  are"+ str(age)+"old")

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [60]:

     
for num in range(1,100):
    cube = num**3
    num +=1
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [17]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num1 in range(2,101):
    for num2 in (2, num1):
        if num1 % num2 == 0:
            break
        else:
            print(num1) 
              
# for num1 in range(2,  101):
#     for num2 in (2,num1):
#         if  num1 % num2 ==0:
#             break
#         else:
#             print(num1)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>