# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [ ]:
x = 5

print(type(x))

##### Assinging float - Float types are decimals

In [ ]:
y = 5.0

print(y)

#### Performing Calculations on ints and floats

##### Addition (+)

In [ ]:
adding = 5 + 5

x = 6
y = 7.0

adding2 = x + y

current = 5
current += 3

print(current)

##### Subtraction (-)

In [ ]:
sub = x - y

sub -= 4

print(sub)

##### Multiplication (*)

In [ ]:
mult = 5 * 2 


mult = x * y
print(mult)

##### Division (/)

In [ ]:
div = 10 / 3



print(div)

##### Floor Division (//) - Normal division but returns the largest possible integer

In [ ]:
floor_div = 5 // 2

print(floor_div)

##### Modulo (%) - Returns the remainder of division

In [ ]:
remainder = 10 % 6

print(remainder)

##### Exponential (**)

In [ ]:

square = 10**2

print(square)

cube = 10**3

print(cube)

### String Input-Output

##### String Assignment

In [ ]:
#iterable datatype
phrase = "Hello World"

number = '123'

# add = 1 + number 

print(number)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print('Hello World', end='!')

##### String Concatenation

In [ ]:
word1 = 'Hello'
word2 = 'World'

phrase = word1 + ' ' + word2 

phrase += '!'
phrase += '!'
phrase += '!'

print(phrase)

##### Type Conversion

In [ ]:
str_num = '123.7'

num = float(str_num)

print(type(num))
print(num)

int_num = int(num)

print(int_num)

##### input()

In [ ]:
age = int(input("How old are you?"))

age = age + 1
print("On your birthday you will turn " + str(age))

##### format()

In [ ]:
name = 'Dylan'
age = 99

my_greeting = "Hi {}, how's it being {} years old?".format(name, age)

print(my_greeting)

In [ ]:
name = 'Dylan'
age = 99

new_greeting = f"Hi {name}, how's it being {age} years old?"

print(new_greeting)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [88]:
#input to prompt user for year make and model

color = input('what color')
year = input('what year')
model = input('what mode')


print(f'you choose {color} {year} year and {model} model ')

you choose black 2024 year and model y model

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)




#if <conditional that will be True or False>

age = 17

if age >= 21:
    print('You can come into the bar')

name = input('Whats your name')

if name.lower() == 'dylan':
    print('Pretty cool guy')

print("end of if")

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [ ]:

name = 'Dylan'
my_name = name

if name is my_name:
    print('Hi Dylan')

##### 'in' keyword = used to check if a value is present in a sequence

In [ ]:

name = 'Christian'

if 'y' in name:
    print('I found my Y in life')
else:
    print('No y here')

##### 'not in' keyword'

In [ ]:

name = 'Christian'

if 'y' not in name:
    print('Y even bother')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [85]:
name = input('enter your name')
for name_l in name:
    if name_l == 'p':

     print('i found p in your name')
    print(name_l)

k
a
i found p in your name
p
e
n

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

name = 'Dylan'
age = 50

if name == 'Dylan' or name == 'Christian':
    print("You're wise" )

### Elif Statements

In [ ]:
name = 'Tommy'

if name == 'Dylan':
    print('Coool')
elif name == 'Christian':
    print('Funny')
elif name == 'Tommy':
    print('Georgia Boy!')

### Else Statements

In [ ]:
# see above
name = 'Buhay'

if name == 'Dylan':
    print('Coool')
elif name == 'Christian':
    print('Funny')
elif name == 'Tommy':
    print('Georgia Boy!')
else:
    print('Another one of the Thieves')

### For Loops

In [ ]:

# for <placeholder variable> in <iterable>:
#   <block of code that gets ran on every iterations *>

name = 'dylan'
count = 0
for letter in name:
   count += 1
   print(count)



print(count)

##### Continue Statement

In [ ]:
# will continue to next iteration

name = 'dylan'

for char in name:
    if char == 'y':
        print('I found my Y in life')
        continue
    print(char)

##### Break Statement

In [ ]:
# will break out of current loop

name = 'dylan'
for char in name:
    if char == 'y':
        print('I found my Y in life')
        break
    print(char)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

age = 12

if age >= 21:
    pass


elif age <10:
    print(age)

##### Double For Loops

In [ ]:

name = 'dylan'

for letter in name:
    print('----'+letter)
    for char in name:
        print(char)

### While Loops

In [ ]:


num = 0

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [ ]:

while True:
    answer = input('Whats the password')
    if answer == 'tuesday':
        print('Welcome to Today')
        break
    else:
        print('WRONG TRY AGAIN')

##### While & For Loops Used Together

In [ ]:


while True:
    play = input('Do you want to play a spelling game')
    if play == 'yes':
        name = input('What is your name')
        print('You spell your name:')
        for letter in name:
            print(letter)
    elif play == 'no':
        break

### Built-In Functions

##### range()

In [ ]:

for num in range(10):
    print(num)

##### len()

In [ ]:

name = 'Dylan'

print(type(len(name)))

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [ ]:
help(help)

##### isinstance() - checks if the object is the type

In [ ]:
number = 123

if isinstance(number, int):
    print('Can do math')
else:
    print('cant math')

##### abs() - returns the absolute value

In [ ]:
x = -5

print(abs(x))

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [ ]:

try:
    age = int(input('How old are you?'))

    birthday = age + 1

    print('In one year you will be ' + str(birthday))
except:
    print('Please enter a numerical value!')

### Lists

##### Declaring Lists

In [ ]:
my_tigers = []

my_names = ['Dylan', 'Michael', 'Katina']

##### Indexing a List

In [ ]:
last_name = my_names[-1]
first_name = my_names[0]

print()

##### .append()

In [ ]:
my_names = ['Dylan', 'Michael', 'Katina']
my_names.append('Jarrett')

print(my_names)

##### .insert()

In [ ]:
my_names = ['Dylan', 'Michael', 'Katina']

my_names.insert(2, 'Jarrett')
print(my_names)

##### .pop()

In [ ]:
last_name = my_names.pop()
print(last_name)
print(my_names)


##### .remove() - removes element in a list, does not remove duplicates

In [ ]:
my_names = ['Dylan', ['Michael', 'james'], 'Katina']

my_names.remove(['Michael', 'james'])

print(my_names)

##### del()

In [ ]:
my_names = ['Dylan', 'Michael', 'Katina']

del my_names[1]

print(my_names)

##### Concatenating Two Lists

In [ ]:
instructors = ['Dylan', 'Christian']
students = ['Michael', 'Marina', 'Yesenia']

thieves = instructors + students

print(thieves)

##### Lists Within Lists

In [ ]:
instructors = ['Dylan', 'Christian']
students = ['Michael', 'Marina', 'Yesenia']

instructors.append(students)

print(instructors)
print(instructors[2][2])
print(instructors)

##### Looping Through Lists

In [ ]:
fav_foods = ['Steak','Pizza', 'Tacos','Sushi']

print('My Fav foods are:')
for food in fav_foods:
    print(food)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:

for num in range(1, 15):
    num_c = num**3
    if num_c > 1000:
        break 
    print(num_c)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num1 in range(2,  101):
    for num2 in (2,num1):
        if  num1 % num2 ==0:
            break
        else:
            print(num1)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input(" how old are you"))

if age < 18:
    print('you are kid')
elif age <=65: 
 print('you are adult')

else :

  print('you are  senior')

In [ ]:
num1 = 251
print(num1)
print(type(num1))

In [ ]:
num1 = 251.5
print(num1)
print(type(num1))

In [ ]:
num1 = 251.5
num2 = 258

add = num1 + num2
substraction = num1 - num2
multplication = num1 * num2
divsion =  num1 / num2

print(add)
print(substraction)
print(multplication)
print(divsion)

In [ ]:
num2 = 258

sequre = num2**2

print(sequre)

In [ ]:
num1 = 251.5

print(int(num1))

In [ ]:
length = 251.5
width= 258
area_rectangul = length * width
print(area_rectangul)

In [ ]:
r= 251.5
import math
area_circle = math.pi * (r**2)

print(area_circle)

In [ ]:
base = 251.5
height= 258

area_triangle = (base*height) /2

print(area_triangle)

In [ ]:
num1 = 251
num2= 258
num3= 28

average = (num1 +  num2 +  num3) / 3
print(average)

In [ ]:
num1 = 251
num2= 258
import math

pythagoneas = math.sqrt((num1**2)+ (num2**2))

print(pythagoneas)

In [ ]:
num1 = 251
num1 +=1
print(num1)

In [ ]:
tempratue_c = 34

tempratue_F = (9/5 * tempratue_c) + 32
print(tempratue_F)

In [ ]:
num1 = 251
num2= 258

num1,num2  = num2, num1
 
print(num1)
print(num2)

In [ ]:
num1 = 258
num2= 251

divsion = num1 / num2

remainder = num1 % num2

print(divsion, 'and remainder', remainder)

In [ ]:
num1 = 258.8
import math

square_root = math.sqrt(num1)

print(square_root)

In [ ]:
num2= 251

minutes= num1* 60
seconds = minutes* 60

print('in minutes',minutes,'in seconds' , seconds)

In [ ]:
num1 = 251
num2= 258
area_parallelogram = num1  * num2
print(area_parallelogram)

In [ ]:
price = 251.99
descount_percent = 0.1

discount_price = (price *10) / 100
print(discount_price)

In [ ]:
num1 = 251
if num1 %  2 == 0:
 print("even") 
else:
    print("odd")

In [ ]:
num1 = 251.7

print(round(num1))

In [ ]:
intial_value = 67
final_value = 60

decrease  = final_value- intial_value

percentage_of_decrease = (decrease /intial_value) * 100

print(percentage_of_decrease)

In [ ]:
sum = 0
for num in range(0, 101, 5):
 
 sum = num + sum
print(sum)

In [2]:
# name= int(input('enter number btween 1 to 10'))
# while name <=1 or name >= 10:
#       #  if name >=1 or num <= 10:
         
#          print('you enter number not btween 1 to 10 please enter right number')
#          name =int(input('enter number btween 1 to 10'))
# print(f'you put {name} ')                           

  
name= int(input('enter number btween 1 to 10'))

while name <=1 or name >= 10:
    
     
        
        name =int(input('enter number btween 1 to 10'))
        print('you enter number not btween 1 to 10 please enter right number')
print(f'you put {name} ')

you enter number not btween 1 to 10 please enter right number
you enter number not btween 1 to 10 please enter right number
you enter number not btween 1 to 10 please enter right number
you put 2

In [5]:
num = 0
while num <=10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9
10

In [7]:
num = 0
sum = 0
while num <=100:
    sum = num + sum
    print(sum)
    num +=1

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [25]:
even = []

for number in range(2, 21):
    # number = int(number) 
    if number % 2 == 0:
        even = number
        print(even)
        # print(f'{number} is even number')

2
4
6
8
10
12
14
16
18
20

In [27]:
for number in range(1, 6):
    for num in range(1, 6):
        mult= num*number
        print(mult)

1
2
3
4
5
2
4
6
8
10
3
6
9
12
15
4
8
12
16
20
5
10
15
20
25

In [30]:
number = input("enter number")
number = int(number)
fact = 1
for num in range(1, number+1):
    fact = num * fact
    print(fact)
    num

1
2
6
24
120
720
5040

In [31]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [64]:
# for num in range(1, 6):
for numb in range(5, 0, -1):
        star = numb * '*'
        print(star)

*****
****
***
**
*

In [80]:
x, n=  0,1

for _ in range(10):
    xn = n + x

    print(xn)
    x, n =n, xn

1
2
3
5
8
13
21
34
55
89

In [54]:

for number in range(1, 21):
    # number = int(number) 
    if number % 2 == 0:
        even = number
        print(f'{number} is even number')
    else:
        print(f'{number} is odd number')

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number

In [82]:
for i in range(8):
 
   
 print(" "*(8-i), "*"*(i*2+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************

In [16]:
for num1 in range(1,101):
 for num in range(1,101):
        while num  <= range(1,101):
         num2 = num / num1
         if num2  == 1 and num2 == num2 :
            print(num2)
        num += 1

TypeError: '<=' not supported between instances of 'int' and 'range'

prime number 1 to 100

In [20]:
sum_sequre = 0
for num in range(1,101):
    sequre = num** 2
    sum_sequre  += sequre
    print(sum_sequre)

338350

In [38]:
word = input('enter something')
# for word_len in range(len(word) +1):
#     word
word_len = len(word) 
print(word_len)

5

In [41]:
factorian =1
for num in range(1,6):

    factorian = num * factorian
print(factorian)

1
2
6
24
120

In [44]:
num = int(input('enter number'))
print(abs(num))

7

In [45]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [77]:
num = int(input('enter number'))
# for isinstance(number):
if isinstance(num, int):
    if num % 2 == 0:
        print("even number")
    else:
     print('odd number')

odd number

In [92]:
num = [1,2,3.3,4,5,6.5]
number = []
for numb in num:
 if isinstance(numb, int):
  number.append(numb)
print(number)

[1, 2, 4, 5]

In [107]:
num = [1,2,3.3,4,5,6.5]
num.insert(2,2)

print(num)

[1, 2, 2, 3.3, 4, 5, 6.5]

In [114]:
num = [1,2,3.3,4,5,6.5]
# num.remove(2)
numb= num.pop()

print(num)

6.5

In [104]:
num = [1,2,3.3,4,5,6.5]
num.remove(2)

print(num)

[1, 3.3, 4, 5, 6.5]

In [106]:
num = [1,2,3.3,4,5,6.5]
del num[1],num[3]

print(num)

[1, 3.3, 4, 6.5]

In [116]:
num = [1,2,3.3,4,5,6.5]
num2 = [4,5,6.5]
numb = num + num2
print(numb)

[1, 2, 3.3, 4, 5, 6.5, 4, 5, 6.5]

In [117]:
num = [1,2,3.3,4,5,6.5]
num2 = [4,5,6.5]
num.append(num2)
print(num)

[1, 2, 3.3, 4, 5, 6.5, [4, 5, 6.5]]

In [148]:
num = ['rt','rr','rty','tg','rr','dfg']
for nums in num:
#  nums == 'rr'
  
 print(nums.strip('rr'))

t

ty
tg

dfg